$colors: (
  'white': hsla(0, 0%, 98%, 1),
  'black': hsla(0, 0%, 2%, 1),
  'blue': (
    '50': hsla(216, 78%, 66.1%, 1),
    '100': hsla(216, 78.4%, 62%, 1),
    '200': hsla(216, 77.7%, 57.8%, 1),
    '300': hsla(216, 77.9%, 53.9%, 1),
    '400': hsla(216, 78%, 50%, 1),
    '500': hsla(216, 78.4%, 40%, 1),
    '600': hsla(216, 77.9%, 32%, 1),
    '700': hsla(216, 78.7%, 23.9%, 1),
    '800': hsla(216, 78%, 16.1%, 1),
    '900': hsla(217, 75.6%, 8%, 1),
  ),
  'dark-blue': (
    '50': hsla(240, 45.5%, 32.4%, 1),
    '100': hsla(240, 46.7%, 29.4%, 1),
    '200': hsla(240, 46.2%, 25.5%, 1),
    '300': hsla(240, 45.5%, 21.6%, 1),
    '400': hsla(240, 44.4%, 17.6%, 1),
    '500': hsla(240, 42.9%, 13.7%, 1),
    '600': hsla(240, 45.5%, 10.8%, 1),
    '700': hsla(240, 50%, 7.8%, 1),
    '800': hsla(240, 48.4%, 6.1%, 1),
    '900': hsla(240, 50%, 3.9%, 1),
  ),
  'gray': (
    '50': hsla(210, 33.3%, 94.1%, 1),
    '100': hsla(208, 31.7%, 83.9%, 1),
    '200': hsla(208, 32.3%, 73.9%, 1),
    '300': hsla(208, 32.2%, 64.1%, 1),
    '400': hsla(208, 31.9%, 53.9%, 1),
    '500': hsla(208, 32.1%, 43.9%, 1),
    '600': hsla(207, 31.8%, 33.9%, 1),
    '700': hsla(208, 31.7%, 24.1%, 1),
    '800': hsla(209, 32.4%, 13.9%, 1),
    '900': hsla(208, 31.7%, 8%, 1),
  ),
  'red': (
    '50': hsla(0, 93.5%, 70%, 1),
    '100': hsla(0, 89.2%, 63.7%, 1),
    '200': hsla(0, 82.4%, 60%, 1),
    '300': hsla(0, 71.9%, 53.9%, 1),
    '400': hsla(0, 67.3%, 48%, 1),
    '500': hsla(0, 66.7%, 40%, 1),
    '600': hsla(0, 67.4%, 36.1%, 1),
    '700': hsla(0, 67.3%, 30%, 1),
    '800': hsla(0, 67.2%, 23.9%, 1),
    '900': hsla(0, 66.7%, 20%, 1),
  ),
  'yellow': (
    '50': hsla(54, 77.6%, 72%, 1),
    '100': hsla(54, 78.1%, 64.1%, 1),
    '200': hsla(54, 77.7%, 57.8%, 1),
    '300': hsla(54, 77.9%, 53.9%, 1),
    '400': hsla(54, 78%, 48%, 1),
    '500': hsla(54, 77.7%, 42.2%, 1),
    '600': hsla(54, 78.1%, 35.9%, 1),
    '700': hsla(54, 77.6%, 28%, 1),
    '800': hsla(54, 78.4%, 20%, 1),
    '900': hsla(53, 78%, 16.1%, 1),
  ),
  'green': (
    '50': hsla(140, 69.6%, 63.9%, 1),
    '100': hsla(140, 70.1%, 54.1%, 1),
    '200': hsla(140, 69.8%, 48%, 1),
    '300': hsla(140, 69.8%, 44.1%, 1),
    '400': hsla(140, 69.6%, 40%, 1),
    '500': hsla(140, 70.6%, 32%, 1),
    '600': hsla(140, 70.5%, 23.9%, 1),
    '700': hsla(140, 70.4%, 15.9%, 1),
    '800': hsla(140, 70.5%, 12%, 1),
    '900': hsla(141, 70.7%, 8%, 1),
  ),
);

$default-theme-colors-aliases: (
  'blue': 'primary',
  'dark-blue': 'accent',
  'black': 'neutral-1',
  'gray': 'neutral-2',
  'white': 'neutral-3',
  'green': 'success',
  'red': 'error',
);

$font-base-size: 1rem * 1.6;

$text-styles: (
  'heading': (
    'font-family': 'Exo 2',
    'font-type': 'sans-serif',
    'weights': (
      'normal': 400,
      'bold': 700,
    ),
    'sizes': (
      'sm': $font-base-size * 1.25,
      'lg': $font-base-size * 1.5,
    ),
    'line-heights': (
      'sm': 1.25,
      'lg': 1.25,
    ),
  ),
  'body': (
    'font-family': 'Exo 2',
    'font-type': 'sans-serif',
    'weights': (
      'normal': 400,
      'bold': 700,
    ),
    'sizes': (
      'sm': $font-base-size * 1.25,
      'base': $font-base-size,
      'lg': $font-base-size * 1.125,
    ),
    'line-heights': (
      'sm': 1.25em,
      'base': 1.5,
      'lg': 1.5,
    ),
  ),
  'label': (
    'font-family': 'Exo 2',
    'font-type': 'sans-serif',
    'weights': (
      'normal': 400,
      'bold': 700,
    ),
    'sizes': (
      'base': $font-base-size * 0.875,
      'lg': $font-base-size,
    ),
    'line-heights': (
      'base': 1em,
      'lg': 1,
    ),
  ),
);

$spacing-base: 0.5rem * 1.6;

$spacing-sizes: (
  'none': 0,
  'xs': $spacing-base * 0.25,
  'sm': $spacing-base * 0.5,
  'base': $spacing-base,
  'md': $spacing-base * 2,
  'lg': $spacing-base * 3,
  'xl': $spacing-base * 4,
  '2xl': $spacing-base * 6,
  '3xl': $spacing-base * 8,
  '4xl': $spacing-base * 12,
);

$breakpoints: (
  'mobile': 25rem,
  'desktop': 48rem,
);
